<h1>Congratulations <%= @user.username %>! You made a journal entry.</h1>

<b>Date:</b>
<%= @entry.date.strftime("%m-%d-%Y") %>
<br><br>

<b>Goal of the day:</b>
<br>
<%= @entry.goal %>
<br><br>

<b>Log of the day:</b>
<br>
<%= @entry.log %>
<br><br>

<b>Gratitude of the day:</b>
<br>
<%= @entry.gratitude %>
<br><br><br>

<a href="/entries/<%=@entry.id%>/edit">Edit Entry</a>
<br><br>

<a href="/entries/new">Create New Entry</a>
<br><br>

<a href="/entries">See all your entries!</a>
<br><br><br>

